{% extends "music/base.html" %}
{% block title %}login{%endblock%}
{% block body %}
<div class="jumbotron">
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login Portal</h2>
    <br>
    <form action="{%url 'music:user_login'%}" method="post" >
                    {% csrf_token %}
        &nbsp;&nbsp;&nbsp;&nbsp;<label for="username">USER NAME:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="username" type="text" name="username"><br><br>
        &nbsp;&nbsp;&nbsp;
        <label for="password">PASSWORD:</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input id="password" type="password" name="password"><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit"  name="" value="Login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset"  name="" value="Reset">
    </form>
</div>
{% endblock %}
